xml/CohortGeldigvanaf2014_Dossiers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="colo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kenniscentra">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="kenniscentrum">
                <xs:complexType>
                  <xs:attribute name="nr" type="xs:string" use="optional" />
                  <xs:attribute name="titel" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="competenties">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="competentie">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="componenten">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="component">
                            <xs:complexType>
                              <xs:attribute name="nr" type="xs:string" use="optional" />
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="nr" type="xs:string" use="optional" />
                  <xs:attribute name="titel" type="xs:string" use="optional" />
                  <xs:attribute name="code" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="dossiers">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="dossier">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="dossiercrebos">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="dossiercrebo" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>                 
                    <xs:element minOccurs="0" name="diplomas">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="diploma">
                            <xs:complexType>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="kenniscentra">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="kenniscentrum">
                            <xs:complexType>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                              <xs:attribute name="referentie" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="certificeerbareeenheden">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="certificeerbareeenheid">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="toelichting" type="xs:string" />
                                <xs:element minOccurs="0" name="kerntaken">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="kerntaak">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="werkprocessen">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" maxOccurs="unbounded"
                                                  name="werkproces">
                                                    <xs:complexType>
                                                      <xs:attribute name="volgnummer" type="xs:string"
                                                      use="optional" />
                                                      <xs:attribute name="titel" type="xs:string"
                                                      use="optional" />
                                                      <xs:attribute name="referentie" type="xs:string"
                                                      use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="volgnummer" type="xs:string" use="optional" />
                                          <xs:attribute name="titel" type="xs:string" use="optional" />
                                          <xs:attribute name="referentie" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="nr" type="xs:string" use="optional" />
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="vaardigheden">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="vaardigheid">
                            <xs:complexType>
                              <xs:attribute name="nr" type="xs:string" use="optional" />
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="voorblad">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="omschrijving">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="sector" type="xs:string" />
                                <xs:element minOccurs="0" name="branche" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="titel" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="inleiding">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="titel" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="deela">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="titel" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="deelb">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                          <xs:element minOccurs="0" name="inleiding">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                              <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="algemeneinformatie">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                <xs:element minOccurs="0" name="colofon">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="omschrijving">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="onderregievan" type="xs:string" />
                                            <xs:element minOccurs="0" name="ontwikkelddoor" type="xs:string" />
                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="verantwoording">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="vastgestelddoor" type="xs:string" />
                                                  <xs:element minOccurs="0" name="vastgesteldop" type="xs:string" />
                                                  <xs:element minOccurs="0" name="vastgesteldte" type="xs:string" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="titel" type="xs:string" use="optional" />
                                    <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="formelevereisten">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="titel" type="xs:string" use="optional" />
                                    <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="typeringberoepengroep">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="titel" type="xs:string" use="optional" />
                                    <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="loopbaanperspectief">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="titel" type="xs:string" use="optional" />
                                    <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="trends">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="omschrijving">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="arbeidsmarktenberoepspraktijkvorming" type="xs:string" />
                                            <xs:element minOccurs="0" name="wetgevingenregelgeving" type="xs:string" />
                                            <xs:element minOccurs="0" name="ontwikkelingenindeberoepsuitoefeningen" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="titel" type="xs:string" use="optional" />
                                    <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                              <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="beschrijvinguitstromen">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                <xs:element minOccurs="0" name="uitstromen">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="uitstroom">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="omschrijving">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="contextvandeuitstroom"
                                                  type="xs:string" />
                                                  <xs:element minOccurs="0" name="typerendeberoepshouding"
                                                  type="xs:string" />
                                                  <xs:element minOccurs="0"
                                                  name="niveauvandeberoepsuitoefening" type="xs:string" />
                                                  <xs:element minOccurs="0"
                                                  name="rolenverantwoordelijkheden" type="xs:string" />
                                                  <xs:element minOccurs="0" name="complexiteit"
                                                  type="xs:string" />
                                                  <xs:element minOccurs="0"
                                                  name="wettelijkeberoepsvereisten" type="xs:string" />
                                                  <xs:element minOccurs="0"
                                                  name="toelichtingwettelijkeberoepsvereisten" type="xs:string" />
                                                  <xs:element minOccurs="0" name="branchevereisten"
                                                  type="xs:string" />
                                                  <xs:element minOccurs="0"
                                                  name="toelichtingbranchevereisten" type="xs:string" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="creboinformatie">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" maxOccurs="unbounded"
                                                  name="crebo">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" name="kenniscentrum" type="xs:string" />
                                                        <xs:element minOccurs="0" name="crebo" type="xs:string" />
                                                        <xs:element minOccurs="0" name="officielediplomanaam" type="xs:string" />
                                                        <xs:element minOccurs="0" name="sbu" type="xs:string" />
                                                        <xs:element minOccurs="0" name="prijsfactor" type="xs:string" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="taalbeheersingseisen">
                                              <xs:complexType>                                            
                                                <xs:sequence minOccurs="0">
                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="taalbeheersingseis">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" name="taalvaardigheden">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element minOccurs="0" maxOccurs="unbounded" name="taalvaardigheid">
                                                                <xs:complexType>
                                                                  <xs:attribute name="titel" type="xs:string" use="optional" />
                                                                  <xs:attribute name="niveau" type="xs:string" use="optional" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="toelichting" type="xs:string" />
                                                      </xs:sequence>                                                      
                                                      <xs:attribute name="titel" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>  
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="rekenbeheersingseisen">
                                              <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="rekenbeheersingseis">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" name="rekenvaardigheden">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element minOccurs="0" maxOccurs="unbounded" name="rekenvaardigheid">
                                                                <xs:complexType>
                                                                  <xs:attribute name="titel" type="xs:string" use="optional" />
                                                                  <xs:attribute name="niveau" type="xs:string" use="optional" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="toelichting" type="xs:string" />
                                                      </xs:sequence>
                                                      <xs:attribute name="titel" type="xs:string" use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>                                         
                                            <xs:element minOccurs="0" name="kerntaken">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" maxOccurs="unbounded"
                                                  name="kerntaak">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element minOccurs="0" name="werkprocessen">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element minOccurs="0"
                                                              maxOccurs="unbounded" name="werkproces">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element minOccurs="0"
                                                                    name="beschrijving" type="xs:string" />
                                                                    <xs:element minOccurs="0"
                                                                    name="resultaat" type="xs:string" />
                                                                    <xs:element minOccurs="0"
                                                                    name="competenties">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element minOccurs="0"
                                                                          maxOccurs="unbounded" name="competentie">
                                                                            <xs:complexType>
                                                                              <xs:sequence>
                                                                                <xs:element minOccurs="0"
                                                                                name="indicator" type="xs:string" />
                                                                                <xs:element minOccurs="0"
                                                                                name="vaardigheden">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element
                                                                                      minOccurs="0" maxOccurs="unbounded" name="vaardigheid">
                                                                                        <xs:complexType>
                                                                                          <xs:attribute
                                                                                          name="referentie" type="xs:string" use="optional" />
                                                                                          <xs:attribute
                                                                                          name="titel" type="xs:string" use="optional" />
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element minOccurs="0"
                                                                                name="componenten">
                                                                                  <xs:complexType>
                                                                                    <xs:sequence>
                                                                                      <xs:element
                                                                                      minOccurs="0" maxOccurs="unbounded" name="component">
                                                                                        <xs:complexType>
                                                                                          <xs:attribute
                                                                                          name="titel" type="xs:string" use="optional" />
                                                                                          <xs:attribute
                                                                                          name="referentie" type="xs:string" use="optional" />
                                                                                        </xs:complexType>
                                                                                      </xs:element>
                                                                                    </xs:sequence>
                                                                                  </xs:complexType>
                                                                                </xs:element>
                                                                              </xs:sequence>
                                                                              <xs:attribute name="titel"
                                                                              type="xs:string" use="optional" />
                                                                              <xs:attribute name="code"
                                                                              type="xs:string" use="optional" />
                                                                              <xs:attribute
                                                                              name="referentie" type="xs:string" use="optional" />
                                                                            </xs:complexType>
                                                                          </xs:element>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                  <xs:attribute name="volgnummer"
                                                                  type="xs:string" use="optional" />
                                                                  <xs:attribute name="titel"
                                                                  type="xs:string" use="optional" />
                                                                  <xs:attribute name="referentie"
                                                                  type="xs:string" use="optional" />
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="volgnummer" type="xs:string"
                                                      use="optional" />
                                                      <xs:attribute name="titel" type="xs:string"
                                                      use="optional" />
                                                      <xs:attribute name="referentie" type="xs:string"
                                                      use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="nr" type="xs:string" use="optional" />
                                          <xs:attribute name="titel" type="xs:string" use="optional" />
                                          <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                          <xs:attribute name="niveau" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                              <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="beschrijvingkerntaken">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                <xs:element minOccurs="0" name="kerntaken">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="kerntaak">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="omschrijving" type="xs:string"
/>
                                            <xs:element minOccurs="0" name="werkprocessen">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" maxOccurs="unbounded"
                                                  name="werkproces">
                                                    <xs:complexType>
                                                      <xs:attribute name="nr" type="xs:string"
                                                      use="optional" />
                                                      <xs:attribute name="volgnummer" type="xs:string"
                                                      use="optional" />
                                                      <xs:attribute name="titel" type="xs:string"
                                                      use="optional" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="nr" type="xs:string" use="optional" />
                                          <xs:attribute name="volgnummer" type="xs:string" use="optional" />
                                          <xs:attribute name="titel" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                              <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="titel" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="deelc">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                          <xs:element minOccurs="0" name="inleiding">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                              <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="certificeerbareeenheden">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                              <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="titel" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="deeld">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                          <xs:element minOccurs="0" name="inleiding">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                              <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="procesinformatie">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                <xs:element minOccurs="0" name="betrokkenen">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="titel" type="xs:string" use="optional" />
                                    <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="verwantschap">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="titel" type="xs:string" use="optional" />
                                    <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="vertaling">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="titel" type="xs:string" use="optional" />
                                    <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="discussiepunten">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="titel" type="xs:string" use="optional" />
                                    <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="wijzigingen">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="wijzigingscategorien">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="wijzigingscategorie">
                                              <xs:complexType>
                                                <xs:attribute name="titel" type="xs:string" use="optional" />
                                                <xs:attribute name="categorie" type="xs:string" use="optional" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>                                      
                                      <xs:element minOccurs="0" name="omschrijving" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="titel" type="xs:string" use="optional" />
                                    <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                              <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="onderhoudsperspectief">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="omschrijving">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="ontwikkelagenda">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="onderdeel">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" name="onderwerp" type="xs:string" />
                                                  <xs:element minOccurs="0" name="actie" type="xs:string" />
                                                  <xs:element minOccurs="0" name="wie" type="xs:string" />
                                                  <xs:element minOccurs="0" name="wanneer" type="xs:string" />
                                                </xs:sequence>  
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="toelichting" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="titel" type="xs:string" use="optional" />
                              <xs:attribute name="hoofdstuk" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="titel" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="nr" type="xs:string" use="optional" />
                  <xs:attribute name="titel" type="xs:string" use="optional" />
                  <xs:attribute name="status" type="xs:string" use="optional" />
                  <xs:attribute name="vastgesteld_OCW_LNV" type="xs:string" use="optional" />
                  <xs:attribute name="contact" type="xs:string" use="optional" />
                  <xs:attribute name="cohort" type="xs:string" use="optional" />
                  <xs:attribute name="wettelijkeberoepsvereisten" type="xs:string" use="optional" />
                  <xs:attribute name="wettelijkebranchevereisten" type="xs:string" use="optional" />
                  <xs:attribute name="positief_advies_coordinatiepunt" type="xs:string" use="optional" />
                  <xs:attribute name="codecoordinatiepunt" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>